NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD8YIKi2xHBIejYtdIYXT79Yr4Gaz74Jxo
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=smart-room-iot-3a562.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://smart-room-iot-3a562-default-rtdb.firebaseio.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=smart-room-iot-3a562
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=smart-room-iot-3a562.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=224516315107
NEXT_PUBLIC_FIREBASE_APP_ID=1:224516315107:web:c5fa9a436f3eb07f9bf2d6
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-5TMG7X1J2V